button {
  background-color: blue;
  color: white;
}

.App {
  background-color:lightgrey;
  padding: 20px;
}

.userContainer {
  border: 1px solid gray;
  padding: 10px;
  margin-bottom: 10px;
}

form {
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input { 
  margin-bottom: 10px;
}
label{
color:blue
}

